.thumbnail {
    width: 23%;
    display: inline-block;
    margin-left: 8%;
    border-radius: 6px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, .28);
    -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, .28);
    border: 0px;
    padding: 0px;
}

.thumbnail>img {
    border-radius: 6px 6px 0px 0px;
}