.homeTitle {
    font-family: 'Pacifico', cursive;
    color: #1909E8;
    font-size: 60px;
    margin-top: 2%;
    margin-left: 20%;
    margin-bottom: 3%;
    display: inline-block;
}

#currButton {
    display: inline-block;
    margin-left: 10%;
    background-color: white;
    color: #13cb86;
    border: 1px solid #13cb86;
    border-radius: 0px;
    padding: 10px;
    font-size: 21px;
}